<div class="employee-content">
  <h1 class="page-title">Employee List</h1>
  <div class="employee-create">
    <form #employeeForm="ngForm" novalidate>
      <input type="text" id="firstName" class="form-control" placeholder="First Name" required name="firstName"
             [(ngModel)]="newEmployee.firstName"
             #firstName="ngModel">
      <div *ngIf="firstName.errors && firstName.dirty" class="alert alert-danger">
        <div [hidden] ="!firstName.errors.required">First Name is required.</div>
      </div>
      <!--<button type="button" class="btn btn-default" (click)="createEmployee(employeeForm)">Add Employee</button>-->
    </form>
  </div>
  <table>
    <tr>
      <!--<th>Employee ID</th>-->
      <th></th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Middle Initial</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Position</th>
      <th>Hire Date</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Active?</th>
    </tr>
    <tr *ngFor="let employee of employees">
      <!--<td>{{employee.id}}</td>-->
      <td>
        <span class="employee-actions">
          <a (click)="editEmployee(employee)">
            <i class="material-icons edit">edit</i>
          </a>
          <a (click)="deleteEmployee(employee.id)">
            <i class="material-icons delete">delete</i>
          </a>
        </span>
      </td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.middleInitial}}.</td>
      <td>{{employee.emailAddress}}</td>
      <td>{{employee.phoneNum}}</td>
      <td>{{employee.positionCat}}</td>
      <td>{{employee.hireDate | date: 'MM/dd/yyyy'}}</td>
      <td>{{employee.address1}}</td>
      <td>{{employee.address2}}</td>
      <td>{{employee.city}}</td>
      <td>{{employee.state}}</td>
      <td>{{employee.zip}}</td>
      <td>{{employee.active}}</td>
    </tr>
  </table>
  <!--<ul class="employee-list">
    <li *ngFor="let employee of employees">
      <div class="employee-row" *ngIf="!editing || editingEmployee.id != employee.id">
        <span class="employee-firstName">
          {{employee.firstName}}
          {{employee.lastName}}
        </span>
        <span class="employee-actions">
          <a (click)="editEmployee(employee)">
            <i class="material-icons edit">edit</i>
          </a>
          <a (click)="deleteEmployee(employee.id)">
            <i class="material-icons delete">delete</i>
          </a>
        </span>
      </div>
      <div class="employee-edit" *ngIf="editing && editingEmployee.id === employee.id">
        <input class="form-control" type="text" [(ngModel)]="editingEmployee.firstName" required>
        <span class="edit-actions">
          <a (click)="updateEmployee(editingEmployee)">
            <i class="material-icons">done</i>
          </a>
          <a (click)="clearEditing()">
            <i class="material-icons">clear</i>
          </a>
        </span>
      </div>
    </li>
  </ul>-->
  <div class="no-employees" *ngIf="employees && employees.length == 0">
    <p>No Employees found!</p>
  </div>
</div>
